* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(13, 13, 73);
  background-color: yellowgreen;
  padding: 30px;
}

p {
  padding: 6px 10px;
}

ul,
ol {
  padding: 6px 40px;
}

.header-style {
  text-align: center;   
}

.sectional {
  background-color: cornsilk;
  max-width: 800px;
  margin: 15px auto;
}



.sectional .header-style {
  background-color: darkolivegreen;
  color:rgb(134, 27, 27);
  padding: 5px 0px;
  margin: 0 auto;
}

.main-sec .sectional {
  padding-bottom: 6px;
}

.contents {
  display: inline-block;
}

.opener.title {
  color: red;
  font-size: 50px;
  border-top: 10px solid darkolivegreen;
  border-bottom:  10px solid darkolivegreen;
  text-align: center;
  margin: 10px auto;
  font-style: italic;
  font-family: Garamond, Georgia, serif;
}

.contents.title {
  margin: 0px;
}

.rec-pic {
  height: auto;
  display: block;
  width: 175px;
  margin: 10px auto;
}

.mini-title {
  text-align: center;
  text-decoration: underline;
  font-weight: 450;
  font-size: 23px;
}



.sectional.opener {
  max-width: 430px;
}